body{
  font-family: Ubuntu, sans-serif;
  margin: 0;
  padding: 0;

}
nav i{
  display: none !important;
}

header img{
  width:50px;
  height: 50px;
  object-fit: cover;
  padding:15px;
}
header{
  /* background-color:#111; */
  background: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0.7)),url(images/bg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  display: grid;
  grid-template-columns: 50px 3fr auto;
  grid-template-rows:4rem 1fr;
}
header h1{
  font-family: Ubuntu, sans-serif;
  color:#61dafa;
  margin: 0;
  padding: 25px;
  font-size: 1.5rem;
}
.bg{
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 4rem;
  grid-column: 2;
  color:#61dafa;
}
.bg span{
  font-size: 6rem;
}
nav ul{
  margin:0;
  padding: 10px;
  height: 4rem;
  list-style-type: none;
  display: flex;
  align-content: center;
  justify-content: flex-end;
}
nav ul li{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav ul li a{
  line-height: 1rem;
  display: block;
  color:#eee;
  padding:20px;
  text-decoration: none;
}
#resource, #about, #overview{
  padding: 50px ;
  min-height: 50vh;
}
#about div{
  line-height: 2.5rem;
  font-size: 1.4rem;
  color:#222;
}
#about div,#about h1,#about h3{
  font-family: 'Roboto', sans-serif;

  color:#111;
}
#about{
  text-align: center;

}
#about img{
  width: 220px;
  height: auto;
}
#overview {
  text-align: center;
}
#overview p{
  max-width: 800px;
  margin: 20px auto;
  font-size: 1.15rem;
  line-height: 2rem;
  text-align: justify;
}
#overview ul{
  max-width: 800px;
  margin: auto;
  font-size: 1.15rem;
  line-height: 2rem;
  list-style-type: none;
}
#overview ul li{
  margin: 20px auto;
  text-align: justify;

}
#overview img{
  margin: 20px auto;
  padding: auto;
  max-width: 500px;
  width: 100%;
}
#resource img{
  width: 100%;
  max-width:250px;
}
.f{
  width: 150px !important;
}
#resource ul{
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#resource ul li{
  height: 200px;
  display: grid;
  justify-content: center;
  align-items: center;
}
#resource{
  background: linear-gradient(to bottom,rgba(250,250,250,1),rgba(250,250,250,0.8)),url(images/bg1.jpg);
}
/* ul li a{
  display: grid;
  text-decoration: none;
  grid-template-rows: 250px;
} */
h2{
  color:#444;
  font-size: 2.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
}
footer{
  font-size: 0.7rem;
  text-align: center;
  padding: 20px;
  line-height: 1.2rem;
}
footer span{
  color:blue;
}
@media screen and (max-width:1000px){

  #resource img{
    width: 200px;
    height: auto;
  }
  .f{
    width: 75px !important;
  }
  #resource ul li{
    height: 130px;
  }

}
@media screen and (max-width:800px){
  nav ul{
    display: none;
  }
  nav i{
    color:white;
    padding: 25px 15px;
    font-size: 1.8rem;
    display: block !important
  }
  .bg{
    grid-column: 2/4;
  }
}
@media screen and (max-width:600px){
  header h1{
    font-size: 1.1rem;
    padding: 28px 15px;
  }
  header img{
    width: 40px;
    height: 40px;
    padding: 18px 15px;
  }
  header{
    height: 80vh;
  }
  #resource img{
    width: 130px;
    height: auto;
  }
  .f{
    width: 60px !important;
  }
  #resource ul li{
    height: 100px;

  }
  .bg{
    font-size: 2.5rem;
  }
  .bg span{
    font-size: 4rem;
  }
  #overview ul{
    padding: 0;
  }
}
